DATABASE="mongodb+srv://user:password@cluster0.bkjmjaj.mongodb.net/db-name"
JWT_SECRET="your_jwt_secret_key"
EMAIL_USERNAME="your_email@gmail.com"
EMAIL_PASSWORD="your_email_password" 
CLOUDINARY_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
ZALOPAY_APPID="2554"
ZALOPAY_KEY1="sdngKKJmqEMzvh5QQcdD2A9XBSKUNaYn"
ZALOPAY_KEY2="trMrHtvjo6myautxDUiAcYsVtaeQ8nhf"
ZALOPAY_DOMAIN="https://sb-openapi.zalopay.vn"
DOMAIN_WEBSITE="https://abc.com"
