extends ../layouts/default.pug
include ../mixins/box-breadcrumb.pug

block main
    // Breadcrumb
    -
      var breadcrumb = {
        image: "/assets/images/banner-7.jpg",
        title: "Tour Hà Nội - Ninh Bình - Hạ Long - Yên Tử - Sapa | 6N5D",
        list: [
          {
            link: "/",
            title: "Trang chủ"
          },
          {
            link: "/tours",
            title: "Tour Nước Ngoài"
          },
          {
            link: "/tours",
            title: "Tour Miền Bắc"
          },
          {
            link: "/tours/detail",
            title: "Tour Hà Nội - Ninh Bình - Hạ Long - Yên Tử - Sapa | 6N5D"
          }
        ]
      };
    +box-breadcrumb(breadcrumb)
    // End Breadcrumb