extends ../layouts/default.pug

block main
  h1.box-title Thông tin liên hệ

  //- Section 4
  .section-4
    .inner-wrap
      .inner-item.inner-label
        <i class="fa-solid fa-filter"></i> Bộ lọc
      .inner-item.inner-date
        input(type="date")
        span -
        input(type="date")
      .inner-item.inner-reset
        <i class="fa-solid fa-rotate-left"></i> Xóa bộ lọc
  //- End Section 4

  //- Section 5
  .section-5
    .inner-wrap
      .inner-change-status
        .inner-item
          select
            option(value="") -- Hành động --
            option(value="") Xóa
        .inner-item
          button Áp dụng
      .inner-search
        <i class="fa-solid fa-magnifying-glass"></i>
        input(type="text" placeholder="Tìm kiếm")
  //- End Section 5

  //- Section 6
  .section-6
    .table-2
      table
        thead
          tr
            th(class="inner-center")
              input(type="checkbox" class="inner-check")
            th Email
            th Ngày tạo
            th(class="inner-center") Hành động
        tbody
          tr
            td(class="inner-center")
              input(type="checkbox" class="inner-check")
            td levana@gmail.com
            td 16:40 - 12/12/2024
            td(class="inner-center")
              .inner-buttons
                button(class="inner-delete") <i class="fa-regular fa-trash-can"></i>
  //- End Section 6

  //- Section 7
  .section-7
    span(class="inner-label") Hiển thị 1 - 9 của 78
    select(class="inner-pagination")
      option Trang 1
      option Trang 2
      option Trang 3
  //- End Section 7