extends ../layouts/default.pug

block title
  title 404 Not Found

block main
  .section-10
    img(src="assets/images/error-404.svg" class="inner-image")
    h1(class="inner-title") Trang này không tồn tại...
    a(href="#" class="inner-back") Trở về trang tổng quan