extends ../layouts/default.pug

block title
  title Thông tin cá nhân

block main
  h1.box-title Thông tin cá nhân

  .section-8
    form#profile-edit-form
      .inner-group
        label(class="inner-label" for="fullName") Họ tên
        input(type="text" id="fullName" name="fullName" value="Lê Văn A")
      .inner-group
        label(class="inner-label" for="email") Email
        input(type="email" id="email" name="email" value="levana@gmail.com")
      .inner-group
        label(class="inner-label" for="phone") Số điện thoại
        input(type="text" id="phone" name="phone" value="0123456789")
      .inner-group
        label(class="inner-label" for="positionCompany") Chức vụ
        input(type="text" id="positionCompany" value="Giám đốc" readonly)
      .inner-group
        label(class="inner-label" for="role") Nhóm quyền
        input(type="text" id="role" value="Quản trị viên" readonly)
      .inner-group.inner-two-col
        label(class="inner-label" for="avatar") Ảnh đại diện
        div(class="inner-upload-image")
          input(type="file" id="avatar" accept="image/*" filepond-image name="avatar")
      .inner-button.inner-two-col
        button Cập nhật
    .inner-back
      a(href="#") Đổi mật khẩu