extends ../layouts/default.pug

block title
  title Cài đặt chung

block main
  h1.box-title Cài đặt chung

  //- Section 9
  .section-9
    a(href="#" class="inner-item")
      .inner-icon <i class="fa-solid fa-info"></i>
      .inner-text Thông tin website
    a(href="#" class="inner-item")
      .inner-icon <i class="fa-solid fa-user-tie"></i>
      .inner-text Tài khoản quản trị
    a(href="#" class="inner-item")
      .inner-icon <i class="fa-solid fa-user-gear"></i>
      .inner-text Nhóm quyền
  //- End Section 9