extends ../layouts/default.pug

block main
  h1.box-title Nhóm quyền

  //- Section 5
  .section-5
    .inner-wrap
      .inner-change-status
        .inner-item
          select
            option(value="") -- Hành động --
            option(value="") Xóa
        .inner-item
          button Áp dụng
      .inner-search
        <i class="fa-solid fa-magnifying-glass"></i>
        input(type="text" placeholder="Tìm kiếm")
      .inner-button-create
        a(href=`/${pathAdmin}/setting/role/create`) + Tạo mới
  //- End Section 5

  //- Section 6
  .section-6
    .table-2
      table
        thead
          tr
            th(class="inner-center")
              input(type="checkbox" class="inner-check")
            th Tên nhóm quyền
            th Mô tả ngắn
            th Hành động
        tbody
          tr
            td(class="inner-center")
              input(type="checkbox" class="inner-check")
            td Quản trị viên
            td Có đầy đủ các quyền
            td
              .inner-buttons
                button(class="inner-edit") <i class="fa-regular fa-pen-to-square"></i>
                button(class="inner-delete") <i class="fa-regular fa-trash-can"></i>
  //- End Section 6