extends ../layouts/default.pug

block title
  title Tạo tour

block main
  h1.box-title Tạo tour

  .section-8
    form#tour-create-form
      .inner-group
        label(class="inner-label" for="name") Tên tour
        input(type="text" id="name" name="name")
      .inner-group
        label(class="inner-label" for="category") Danh mục
        select(id="category" name="category")
          option(value="") -- Chọn danh mục --
          option(value="") Danh mục 1
          option(value="") Danh mục 2
      .inner-group
        label(class="inner-label" for="position") Vị trí
        input(type="number" id="position" name="position")
      .inner-group
        label(class="inner-label" for="status") Trạng thái
        select(id="status" name="status")
          option(value="") Hoạt động
          option(value="") Dừng hoạt động
      .inner-group.inner-two-col
        label(class="inner-label" for="avatar") Ảnh đại diện
        div(class="inner-upload-image")
          input(type="file" id="avatar" accept="image/*" filepond-image name="avatar")
      .inner-group
        label(class="inner-label") Giá cũ
        .inner-input-list
          .inner-input-item
            label Người lớn
            input(type="number" name="priceAdult")
          .inner-input-item
            label Trẻ em
            input(type="number" name="priceChildren")
          .inner-input-item
            label Em bé
            input(type="number" name="priceBaby")
      .inner-group
        label(class="inner-label") Giá mới
        .inner-input-list
          .inner-input-item
            label Người lớn
            input(type="number" name="priceNewAdult")
          .inner-input-item
            label Trẻ em
            input(type="number" name="priceNewChildren")
          .inner-input-item
            label Em bé
            input(type="number" name="priceNewBaby")
      .inner-group
        label(class="inner-label") Còn lại
        .inner-input-list
          .inner-input-item
            label Người lớn
            input(type="number" name="stockAdult")
          .inner-input-item
            label Trẻ em
            input(type="number" name="stockChildren")
          .inner-input-item
            label Em bé
            input(type="number" name="stockBaby")
      .inner-group
        label(class="inner-label") Những địa điểm có tour
        .inner-checkbox-list
          .inner-checkbox-item
            input(type="checkbox" name="locations" value="Hà Nội")
            label Hà Nội
          .inner-checkbox-item
            input(type="checkbox" name="locations" value="Đà Nẵng")
            label Đà Nẵng
          .inner-checkbox-item
            input(type="checkbox" name="locations" value="Nha Trang")
            label Nha Trang
          .inner-checkbox-item
            input(type="checkbox" name="locations" value="Hồ Chí Minh")
            label Hồ Chí Minh
      .inner-group
        label(class="inner-label" for="time") Thời gian
        input(type="text" id="time" name="time")
      .inner-group
        label(class="inner-label" for="vehicle") Phương tiện
        input(type="text" id="vehicle" name="vehicle")
      .inner-group
        label(class="inner-label" for="departureDate") Ngày khởi hành
        input(type="date" id="departureDate" name="departureDate")
      .inner-group.inner-two-col
        label(class="inner-label" for="information") Thông tin tour
        textarea(id="information" textarea-mce name="information")
      .inner-group.inner-two-col
        label(class="inner-label") Lịch trình tour
        .inner-schedule
          .inner-schedule-list
            .inner-schedule-item
              .inner-schedule-head
                span(class="inner-schedule-button inner-move")
                  <i class="fa-solid fa-up-down-left-right"></i>
                input(type="text")
                span(class="inner-schedule-button inner-remove")
                  <i class="fa-regular fa-trash-can"></i>
                span(class="inner-schedule-button inner-more")
                  <i class="fa-solid fa-angle-down"></i>
              .inner-schedule-body
                textarea(textarea-mce)
          .inner-schedule-create + Thêm lich trình
      .inner-button.inner-two-col
        button Tạo mới
    .inner-back
      a(href="#") Quay lại danh sách