header.header
  .inner-logo
    a(href=`/${pathAdmin}/dashboard`)
      span 
      span Quản trị
  .inner-wrap
    .inner-notify
      img(src="/admin/assets/images/icon-bell.svg", alt="")
      span 6
    .inner-account
      .inner-avatar
        img(src="/admin/assets/images/avatar.jpg", alt="")
      .inner-text
        .inner-name Le Van A
        .inner-role Admin
    button.inner-button-menu
      <i class="fa-solid fa-bars"></i>