header.header
  .inner-logo
    a(href="#")
      span 28
      span Admin
  .inner-wrap
    .inner-notify
      img(src="assets/images/icon-bell.svg", alt="")
      span 6
    .inner-account
      .inner-avatar
        img(src="assets/images/avatar.jpg", alt="")
      .inner-text
        .inner-name Le Van A
        .inner-role Admin
    button.inner-button-menu
      <i class="fa-solid fa-bars"></i>